# Ambiente
.env
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/
*.code-workspace

# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Assets locais (se não quiser subir as camisas)
assets/jerseys/